{% extends "Paginas/Base.html" %}

{% block titulo %} Aplicación de Inventario {% endblock %}

{% block contenido %}

    {% if messages %}
        {% for message in messages %}
            <script>
                Swal.fire({
                    title: "Mensaje",
                    text: "{{ message }}",
                    icon: "{% if message.tags == 'error' %}error{% else %}success{% endif %}"
                });
            </script>
        {% endfor %}
    {% endif %}
    <div class="row align-items-md-stretch">
        <div class="col-md-6">
            <div class="h-100 p-5 text-white bg-primary border rounded-3">
                <h2>Gestión de Inventario</h2>
                <p>
                    Organiza y administra los equipos de manera eficiente con nuestra aplicación. 
                    Accede fácilmente a los registros y controla los movimientos en tiempo real.
                </p>
                <a href="{% url 'equipos' %}" class="btn btn-light">Ver Equipos</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="h-100 p-5 bg-light border rounded-3">
                <h2>Nosotros</h2>
                <p>
                    Conoce mas acerca de nosotros y nuestro objetivo con nuestra aplicacion de inventario.
                </p>
                <a href="{% url 'nosotros' %}" class="btn btn-primary">Más Información</a>
            </div>
            
        </div>
    </div>
</div>

{% endblock %}






