{% extends "Paginas/Base.html" %}

{% block titulo %} Aplicación de Inventario {% endblock %}

{% block contenido %}

<div class="container my-5">
    <div class="row align-items-md-stretch">
        <div class="col-md-6">
            <div class="h-100 p-5 text-white bg-primary border rounded-3">
                <h2>Gestión de Inventario</h2>
                <p>
                    Organiza y administra los equipos de manera eficiente con nuestra aplicación. 
                    Accede fácilmente a los registros y controla los movimientos en tiempo real.
                </p>
                <a href="{% url 'equipos' %}" class="btn btn-light">Ver Equipos</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="h-100 p-5 bg-light border rounded-3">
                <h2>Optimización y Control</h2>
                <p>
                    Mantén un control detallado de cada equipo asignado. 
                    Nuestro sistema te ayuda a gestionar de manera eficiente.
                </p>
                <a href="{% url 'nosotros' %}" class="btn btn-primary">Más Información</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}






