{% extends "Paginas/Base.html" %}

{% load static %}

{% block titulo %}Nosotros{% endblock %}

{% block contenido %}
    <link rel="stylesheet" href="{% static 'css/nosotros.css' %}?v=1.0">
    <div class="container-fluid py-4">
        
        
            <div class="header-content p-5 text-white rounded-3" style="background: linear-gradient(135deg,rgb(15, 34, 141),rgb(11, 79, 143));">
                <h1 class="display-4 mb-4">Video tutorial de como utilizar nuestra APP de inventario</h1>
                <p class="lead mb-4">
                    Nuestra aplicación de inventario es una plataforma desarrollada para optimizar la gestión de equipos tecnológicos, facilitando el control de préstamos y devoluciones dentro de instituciones.
                </p>
                
            </div>
       


    <div class="video-seccion">
        <video width="1080" height="720" controls>
            <source src={%static 'media/videoplayback.mp4'%} type="video/mp4">
            Tu navegador no soporta la reproducción de videos.
        </video>
    </div>
        <!-- 
            <div class="col">
                <div class="h-100 p-5 bg-light border rounded-3">
                    <h3 class="mb-3">📍 Misión</h3>
                    <p class="mb-4">
                        Contribuir al control y uso eficiente de los equipos tecnológicos mediante un sistema de inventario moderno, claro y confiable.
                    </p>
                </div>
            </div>

            <div class="col">
                <div class="h-100 p-5 bg-light border rounded-3">
                    <h3 class="mb-3">🔭 Visión</h3>
                    <p class="mb-4">
                        Convertirnos en una solución líder en gestión de inventarios tecnológicos, promoviendo decisiones basadas en datos precisos.
                    </p>
                </div>
            </div>

            
            <div class="col">
                <div class="h-100 p-5 bg-light border rounded-3">
                    <h3 class="mb-3">🏆 Valores</h3>
                    <ul class="mb-4" style="list-style-type: none; padding-left: 0;">
                        <li class="mb-2">✔️ Compromiso</li>
                        <li class="mb-2">✔️ Transparencia</li>
                        <li class="mb-2">✔️ Innovación</li>
                    </ul>
                </div>
            </div>
        </div>
    </div> -->
{% endblock %}